@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Exo+2');

$primary: #49494d;
$secondary: #716A77;
$green: #697E73;
$white: #f3f3f3;
$family-sans-serif: "Exo-2", arial;
$text: #727272;

body {
  font-family: "Exo 2", arial !important;
  background: $white;
}
a {
  color: $green;
  &:active, &:focus {
    color: $secondary;
  }
}
.blv-navbar {
  height: 64px;
  background: rgba(255,255,255,0.8);
  .navbar-menu {
    &.is-active {
      background: rgba(255, 255, 255, 0.8);
    }
  }
  a {
    text-transform: uppercase;
    color: $primary;
  }
  .navbar-item {
    &:hover, &:active, &:focus {
      color: $secondary;
    }
    img {
      max-height: 48px;
    }
  }
  .navbar-burger {
    height: 64px;
  }
}
.blv-hero {
  padding-top: 48px;
  overflow: hidden;
  background: url('~assets/img/bg-3.jpg') no-repeat;
  position: relative;
  h2 {
    color: #fff;
    font-weight: 400;
    font-size: 24pt;
    line-height: 32pt;
  }
  h3 {
    color: #fff;
    font-weight: 400;
    font-size: 16pt;
    line-height: 22pt;
  }
  .blv-polygon {
    position: absolute;
    bottom: -20%;
    right: 0;
    height: 100%;
    width: 25%;
    background: url('~assets/img/pattern.svg') no-repeat;
  }
}
.blv-button {
  &.is-primary {
    background: $primary;
    text-transform: uppercase;
    &:hover {
      background: $secondary;
    }
  }
}

.blv-block {
  display: block;
  position: relative;
  width: 100%;
  min-height: 280px;
  border: 1px solid $primary;
  box-shadow: 0 10px 13px rgba(73, 73, 77, 0.07);
  overflow: hidden;
  color: $primary;
  &::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: 100%;
    margin-bottom: -80px;
    height: 1000px;
    background-color: #fff;
    transform: skew(0, -19deg);
    z-index: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    &::after {
      bottom: 0;
    }
    .blv-block-content {
      left: 16px;
    }
  }
  &.blv-block__1 {
    background: url('~assets/img/block1.jpg') no-repeat center;
    background-size: cover;
  }
  &.blv-block__2 {
    background: url('~assets/img/block2.jpg') no-repeat center;
    background-size: cover;
  }
  &.blv-block__3 {
    background: url('~assets/img/block3.jpg') no-repeat center;
    background-size: cover;
  }
  .blv-block-top {
    position: relative;
    z-index: 1;
    padding: 16px;
    font-size: 16pt;
  }
  .blv-block-content {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: -1000px;
    max-width: 500px;
    padding-right: 16px;
    transition: all 0.7s ease;
  }
}
.blv-section {
  position: relative;
  overflow: hidden;
  h2 {
    color: $primary;
    font-size: 18pt;
    font-weight: normal;
    padding-bottom: 12px;
  }
  p {
    color: $text;
    margin-top: 16px;
  }
  .blv-polygon {
    width: 25%;
    height: 100%;
    position: absolute;
    bottom: 10%;
    right: 0;
    background: url('~assets/img/pattern-dark.svg') no-repeat;
  }
}
.blv-footer {
  background: $primary;
  color: #fff;
  a {
    color: $green;
  }
}
.blv-modal {
  .modal-card-head {

  }
}
.blv-success {
  background: $green;
  color: #fff;
}
.input, .textarea {
  &:active, &:focus {
    border-color: $green;
    box-shadow: 0 0 0 0.125em rgba(105, 126, 115, 0.25);
  }
}
.toast.is-success {
  background: $green !important;
}
.blv-media-block {
  background: #fff;
  padding: 8px;
  box-shadow: 0 10px 13px rgba(73, 73, 77, 0.07);
  .blv-media-block__date {
    color: #7F828B;
    font-size: 10pt;
  }
  .blv-media-block__title {
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
.has-text-success {
  color: $green !important;
}
.blv-product-block {
  background: #fff;
  padding: 8px;
  box-shadow: 0 10px 13px rgba(73, 73, 77, 0.07);
  width: 100%;
}
.blv-comment-block {
  background: #fff;
  padding: 8px;
  box-shadow: 0 10px 13px rgba(73, 73, 77, 0.07);
  width: 100%;
  .blv-comment-block__text {
    font-size: 12pt;
    font-style: italic;
  }
  .blv-comment-block__name {
    text-align: right;
    font-weight: 700;
  }
  .blv-comment-block__position {
    font-size: 10pt;
    color: #7F828B;
    text-align: right;
  }
}
.blv-partner-block {
  background: #fff;
  padding: 8px;
  box-shadow: 0 10px 13px rgba(73, 73, 77, 0.07);
  width: 100%;
  text-align: center;
  .blv-partner-block__img img {
    height: 180px;
  }
  .blv-partner-block__name {
    margin-top: 16px;
    font-weight: 700;
  }
}
